.body {
    background-color: #fafafa;
}

.messenger {
    background-color: white;
    /* border : 1px solid #DBDBDB; */
    display: flex;
    width: 930px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.chatMenu {
    border: 1px solid #dbdbdb;
    width: 40%;
    border-style: solid none solid solid;
}

.menuBox1 {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    max-height: 68px;
    padding: 5%;
    padding-left: 30%;
}
.namebox {
    display: flex;
    /* border:1px solid black; */
}
.personName {
    font-size: large;
    font-weight: 500;
}
.penImg {
    padding-left: 25%;
}
.nameListbox {
    border: 1px solid #dbdbdb;
    height: 75vh;
    border-style: solid none none none;
}

/* *** *** */

.mainChatCont {
    border: 1px solid #dbdbdb;
    width: 60%;
}
.Topname {
    height: 65px;
    display: flex;
    /* border: 1px solid #DBDBDB; */
    padding-left: 5%;
    align-items: center;
}

/* *** *** */

/* ****  */
.chatContainer {
    border: 1px solid #dbdbdb;
    height: 75vh;
    border-style: solid none none none;
}
.chatBox {
    /* border: 1px solid blue; */
    height: 90%;
}
.chatInputBox {
    height: 8%;
    border: 1px solid #dbdbdb;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 20px;
}
.chatInputBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.chatvalue {
    padding: 5px;
    width: 380px;
    outline: none;
    border: none;
}
/*****/
.emojiBox {
    position: absolute;
    top: 42vh;
    left: 25%;
    display: none;
}
