.status_bar{
    height: 97px;
    width: 470px;
    border: 1px solid #bdbdbd;
    background-color: white;
    margin-top: 25px;
    border-radius: .5rem;
    display: flex;
    overflow-x: scroll;
}
.status_bar::-webkit-scrollbar{
    display: none;
}
.status_icnos{
    margin: 10px 0px -5px 10px ;
}
.status_text{
    font-size: 13px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: 7px;
    
}