.stories_bar {
    height: 90px;
    width: 470px;
    border: 1px solid #bdbdbd;
    background-color: white;
    margin-top: 60px;
    border-radius: .5rem;
    display: flex;
    overflow-x: scroll;
}

.stories_bar::-webkit-scrollbar {
    display: none;
}

.stories_icon {
    margin: 10px 0px -5px 10px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    scroll-behavior: smooth;
}

.profile_name {
    font-size: 13px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-left: 10px;
}
