* {
    margin: 5px;
    padding: 0;
  }
  body {
    background-color: #fafafa;
  }
  .nav {
    position: absolute;
    width: 100%;
    height: 54px;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .wrapper {
    position: relative;
    width: 975px;
    height: 54px;
    top: 0;
    background-color: #ffffff;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 18px;
  }
  .icons {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
  }

  .search{
    border: 1px solid #dbdbdb; 
    background-color: #fafafa; 
    height: 28.5px;
    width: 20.5rem ;
    border-radius: 3.5px;
    padding-left: 25px;
    font-family:"'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ";
  }

  input[type="text"]{
    background-color: #fafafa;
    border: none;
  }

  .logo{
    padding-top: "8px";
    padding-right: "110px";
    cursor: pointer;
  }

  .square{
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    position: absolute;
    top: -8px;
    right: 18px;
    z-index: 0;
    transform: rotateZ(45deg);
    box-shadow:-5px -5px 5px 0px rgb(0 0 0 / 10%);
  }

  .home,
  .explore,
  .create,
  .compass,
  .heart,
  .profile-img {
    cursor: pointer;
  }
  /* drop-down */
  .drop-down {
    position: absolute;
    top: 53px;
    width: 201px;
    height: 200px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
    background-color: #ffffff;
    border-radius: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    right: 1%;
    visibility: hidden;
  }
  .drop-down ul {
    display: flex;
    flex-direction: column;
  }
  .drop-down ul li {
    padding: 8px 16px;
    list-style: none;
  }
  .drop-down ul li:hover {
    background-color: #fafafa;
  }
  .drop-down ul li a {
    text-decoration: none;
  
    color: #2b2b2b;
  }
  