.suggestions__container {
    width: 325px;
    height: 290px;
    margin-top: 25px;
}
.suggestions__header {
    font-weight: bold;
    color: #8e8e8e;
    margin: -15px 0px 0px 0px;
    opacity: 80%;
    font-size: 16px
}
.suggestions__body {
    height: 256px;
    height: 290px;
    margin-top: 10px;
}
.suggestions__friends {
    display: flex;
    padding: 5px 0px;
}
.suggestions__image {
    max-width: 35px;
    max-height: 35px;
}
.suggestions__username{
    font-weight:550;
    font-size: 13.5px;
  
    margin: 2px 10px ;
}
.suggestion_details{

    font-size: 12px;
    margin: -20px 0px 10px 46px;

}